/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.dark {
    color: gray !important;
}

.feature-box h3 {
    color: #bf8865 !important;
}

.promo button {
    text-transform: uppercase;
    font-weight:600;
    color: white;
}

.promo button:hover {
    color: #dad28b;
    background-color: #4fdae6 !important;
}

.promo h3 {
    margin-bottom: 17px;
}

#content, .bgcolor {
    background-color: rgb(51, 51, 51);
}

.heading-block h2 {
    color: #f55e00 !important;
}

#header.dark.sticky-header.transparent-header #header-wrap:not(.not-dark),
#header.dark.transparent-header.floating-header .container,
#header.dark.transparent-header.floating-header.sticky-header .container,
.dark .responsive-sticky-header #header-wrap,
.responsive-sticky-header.dark #header-wrap { background-color: #000; }


#primary-menu a div:hover, #primary-menu a:hover {
    /*color: #dad28b;*/
}

form.menu-form input.form-control {
    background-color: #fffcf5 !important;
    color: black !important;
}

#header form.menu-form {
    margin-top: 25px;
}

#header.sticky-header form.menu-form {
    margin-top: 8px !important;
}

#primary-menu-close {
    visibility: hidden;
}

#primary-menu ul li > a:hover i {
    color: #ff3e01 !important;
}

.top-links li > a {
    color: #3477b3;
    font-weight: normal;
    text-decoration: underline !important;
}


.widget > h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.entry, .promo {
    background-color: #ffffff;
}

.entry {
    padding: 0;
    margin: 0 0 10px 0;
}

.entry-title h1, .entry-title h2 {
    text-transform: none;
    text-align: left !important;
}

.entry-post-grid {
    padding: 5px;
    font-size: 15px;
    text-align: justify;
}

.content-wrap {
    padding-top: 40px;
}

.more-link {
    font-style: normal !important;
}

.entry-meta li {
    margin: 0 10px 3px 0;
}

.entry-meta li {
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
}

.entry-meta li i {
    font-size: 21px;
}

.portfolio-filter {
    background-color: #fefefe;
    margin: 20px 0 20px 0;
}

.portfolio-filter li a {
    font-size: 1.1em;
}

.portfolio-filter li:hover  {
    background-color: #fbfafe;
}


.post-navigation {
    font-size: 1.3em;
}

.single-entry {
    padding: 50px 90px;
    display: block;
    max-width: 890px;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #ECF0F1;
    margin: auto;
}

.single-entry-content, .promo p {
    font-size: 1.3em;
}

.promo {
    background-color: #e9f1f5;
}

.promo p {
    text-align: justify;
}

#content p {
    line-height: 1.6em;
}

.single-entry-content ul, .single-entry-content ol {
    padding-left: 20px;
}

pre code {
    font-size: 1em;
}

code {
    font-size: 70%;
    color: #3e3e56;
    background-color: #f2f3f9;
}

ul#markdown-toc {
    list-style: none;
    float: right;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: #ffffff 0.5em solid;
    background-color: #f7f7f7;
    margin-left: 15px;
    padding: 5px;
}

#markdown-toc ul li {
    padding: 0 5px;
}

#markdown-toc:before {
    content: "Table of Contents";
    font-weight: bold;
}

.footnotes li p {
    margin-bottom: 0;
}


/* Markdown tables */

table {
    border: 1px solid #dddddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

td {
    border: 1px solid #dddddd;
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

th {
    padding: 8px;
    border: 1px solid #dddddd;
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
    text-align: left;
}

figcaption {
    font-size: 0.9em;
    font-style: italic;
    color: #909090;
}

p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
    margin-bottom: 20px;
}


