/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
a {
    color: #4e66fd;
}

a:hover, .widget_links li a:hover, .widget-links li a:hover {
    color: #0214fd;
    text-decoration: underline;
}

a.active {
    background-color: #FFC107 !important;
}

#page-title {
    padding: 30px 0;
}

#page-title h1 {
    font-weight: 400;
    color: #6b6b6b;
    font-size: 22px;
}

#page-title span {
    font-weight: 500;
    color: #000;
    font-size: 20px;
}

p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
    margin-bottom: 20px;
}

.content {
    font-size: 18px;
}

.contact , .contact a{
    font-size: large;
}

.repo {
    background: #e1e2f5;
    font-family: "Courier New", monospace;
    padding: 1px 3px;
    font-size: smaller;
}

.changes {
    color: #9c6325;
    font-weight: bold;
    font-size: smaller;
}

.conflicts {
    color: #d0110e;
    font-weight: bold;
    font-size: smaller;
}

.conflicts a {
    font-weight: bold;
}

.lesson-links {
    font-size: larger;
}

.lesson-links:before {
    content: "Actions"
}

.lesson-links ul {
    margin-bottom: 13px;
}

.content ul, .content ol, .toc ul {
    margin-left: 20px;
}

ul.pager {
    margin-left: 0;
    margin-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding-top: 10px;
}

.iconlist {
    margin-left: 1.75em !important;
}

.caret {
    display: inline-block !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #203144;
    margin: 0 0 15px 0;
}

.content-wrap {
    padding: 60px 0 80px 0;
}

.widget > h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.statusdown {
    color: red;
    font-weight: normal;
}

.statusstarting {
    color: rgb(199, 195, 36);
    font-style: italic;
}

.statusup {
    color: green;
    font-weight: bold;
}

.right {
    float: right;
}

.lesson-pagination {
    font-size: larger;
}

.lesson-pagination a {
    text-decoration: underline !important;
}

.widget-links, .widget_links {
    margin-bottom: 16px;
}

.widget-links > ul {
    margin-top: -4px !important;
}

.widget-links h4, .widget_links h4 {
    margin-bottom: 8px;
}

.widget-links ul, .widget-links li {
    list-style: none;
    margin: 0;
}

.widget-links ul {
    margin-top: -4px !important;
}
.widget-links li {
    background: url("../images/icons/widget-link.png") left top no-repeat;
    border: none !important;
    padding-left: 12px;
    padding-right: 3px;
}



.widget_nav_menu li a,
.widget-links li a,
.widget_links li a,
.widget_meta li a,
.widget_archive li a,
.widget_recent_entries li a,
.widget_categories li a,
.widget_pages li a,
.widget_rss li a,
.widget_recent_comments li a {
    color: #4e66fd;
    text-decoration: underline !important;
}

a.store {
    color: #030806 !important;
    background-color: #75e475;
    padding: 1px 2px;
    text-decoration: none !important;
}

a.discard {
    color: #5d3d35 !important;
    background-color: #fba07e;
    padding: 1px 2px;
    text-decoration: none !important;
}
