<!DOCTYPE html>
{% load static %}
<html dir="ltr" lang="en">
<head>
    {% block head %}
        {% include "codingbrain/base/head.html" %}
    {% endblock %}
</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    {% block header %}
        {% include "codingbrain/base/header.html" %}
    {% endblock %}

    <section id="page-title">

        <div class="container clearfix">
            <h1>Let's develop a message-driven microservices application</h1>
            {% block page_title %}
            {% endblock %}
        </div>

    </section><!-- #page-title end -->
    <!-- Content
        ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="postcontent nobottommargin col_last clearfix">

                    <!-- Modal -->
                    {% if ping_enabled %}
                    <div class="modal fade" id="vagrantMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Offline</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Can not connect to virtual machine. Did you run 'vagrant up'?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if messages %}
                        {% for message in messages %}
                            <div class="style-msg {{ message.level_tag }}msg">
                                <div class="sb-msg">{{ message }}</div>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <!--
                    <div>
                        <ul class="process-steps process-2 bottommargin clearfix">
                            <li class="active">
                                <a href="#" class="i-circled i-alt divcenter bgcolor">1</a>
                                <h5>Complete Payment</h5>
                            </li>
                            <li>
                                <a href="#" class="i-bordered i-circled divcenter icon-download-alt"></a>
                                <h5>Download File</h5>
                            </li>
                        </ul>
                    </div>
                    -->
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                {% block sidebar %}
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">
                            <div class="widget clearfix">
                                {% include "codingbrain/base/sidebar.html" %}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </section><!-- #content end -->

    <!-- Footer
============================================= -->
    <footer id="footer" class="dark">
        {% block footer %}
            {% include "codingbrain/base/footer.html" %}
        {% endblock %}
    </footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
{% include "codingbrain/base/scripts.html" %}
</body>
</html>

