{% load static %}
<!-- Copyrights
============================================= -->
<div id="copyrights">

    <div class="container clearfix">

        <div class="col_half">
            <img src="{% static "images/custom/footer-logo.png" %}" alt="" class="footer-logo"/>
            &copy; 2016-2017 All Rights Reserved by CodingBrain.
            <br>Version: {{ cb_version }} - {{ settings.version }} <a href="/update_lessons?force=True" data-ajax="true" data-success="showMessage">Check for update</a>
        </div>

        <div class="col_half col_last tright">
            <div class="copyrights-menu copyright-links fright clearfix" style="min-width: 400px;">
                <a href="{% url "lesson" "index" %}">Home</a>/<a href="http://codingbrain.com/about/">Contact</a>
            </div>
        </div>

    </div>

</div><!-- #copyrights end -->
