{% load static %}
<!-- Header
============================================= -->
<header id="header" class="full-header no-sticky">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="/" class="standard-logo">
                    <img src="{% static "images/custom/tutor-logo.png" %}" alt="Canvas Logo">
                </a>
                <a href="/" class="retina-logo">
                    <img src="{% static "images/custom/tutor-logo@2x.png" %}" alt="Canvas Logo">
                </a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="fleft">
                <ul>
                    <li class="dropdown">
                        <a id="dLabel" href="{% url "lesson" "toc" %}" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><div>Table of contents <span class="caret"></span></div>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            {% include "codingbrain/base/toc.html" %}
                        </ul>
                    </li>
                </ul>

                <ul>
                    <li>
                        <a href="{% url "lesson" "start-here" %}"><div>Start here</div></a>
                    </li>
                    <li>
                        <a href="http://codingbrain.com/about" target="_blank"><div>Support</div></a>
                    </li>
                    <li>
                        <div>
                            <a href="http://localhost:7230" style="margin-top: 27px;" class="button button-3d button-rounded button-amber" target="_blank"><i class="icon-hand-right"></i>Open app</a>

                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>