<div class="lesson-links well well-sm">
    <ul class="iconlist">
        <li><i class="icon-code-fork"></i><a href="#" data-repo="{{ repo }}" data-url="/checkout/{{ repo }}/{{ branch }}" class="checkout"><div>Checkout {{ branch }}</div></a>
        </li>
        <li><i class="icon-line-video"></i> <a class="" target="_blank" href="http://courses.codingbrain.com/courses/webscraper-microservices/lectures/{{ lesson_id }}">Go to lesson</a></li>
    </ul>
</div>
