{% load static %}
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/plugins.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.collapser.js" %}"></script>
<script type="text/javascript" src="{% static "js/functions.js" %}"></script>
<script type="text/javascript" src="{% static "django_ajax/js/jquery.ajax.min.js" %}"></script>
<script type="text/javascript" src="{% static "django_ajax/js/jquery.ajax-plugin.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootbox.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-notify.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/custom.js" %}"></script>
{% if ping_enabled %}
<script type="text/javascript" src="{% static "js/ping.js" %}"></script>
{% endif %}
