{% load filters %}
<div class="widget-links">
    <h4>Manage app</h4>
    <ul>
        <li>Backend is <span id="backendStatus" class="statusdown">down</span> [<a href="{% url 'run' 'backend' %}" data-ajax="true" data-success="showMessage" class="nobullet" id="backendStart">start</a><a href="{% url 'stop' 'backend' %}" data-ajax="true" data-success="showMessage" id="backendStop">stop</a>]
        </li>
        <li>Worker is <span id="workerStatus" class="statusdown">down</span> [<a href="{% url 'run' 'worker' %}" data-ajax="true" data-success="showMessage" class="nobullet" id="workerStart">start</a><a href="{% url 'stop' 'worker' %}" data-ajax="true" data-success="showMessage" id="workerStop">stop</a>]
        </li>
        <li>Open <a href="http://localhost:7235/" target="_blank">RabbitMQ admin</a></li>
    </ul>
</div>

<div class="widget-links">
    <h4>Source code git</h4>
    <ul>
        <li>Frontend: current branch is <span id="frontendBranch" class="repo">final</span>.
            <span id="frontendIsDirty" style="display: none" class="changes">You have local changes. <a href="#" class="discard" data-url="{% url "git_reset" "frontend" %}">Discard</a> or <a href="#" class="store" data-url="{% url "git_merge" "frontend" %}">commit them</a>.</span>
            <span id="frontendConflicts" style="display: none" class="conflicts">You have conflicts. <a href="#" class="discard" data-url="{% url "git_reset" "frontend" %}">Discard changes</a> or resolve manually.</span>
            <br>Checkout <span id="frontendBranchFinal" style="display: none">[<a href="#" data-repo="frontend" data-url="{% url "checkout" "frontend" "final" %}" class="nobullet checkout">final</a>]</span>
            <span id="frontendBranchMysolution" style="display: none">[<a href="#" data-repo="frontend" data-url="{% url "checkout" "frontend" "mysolution" %}" class="nobullet checkout">mysolution</a>]</span>.
        </li>
        <li>Backend: current branch is <span id="backendBranch" class="repo">final</span>.
            <span id="backendIsDirty" style="display: none" class="changes">You have local changes. <a href="#" class="discard" data-url="{% url "git_reset" "backend" %}">Discard</a> or <a href="#" class="store" data-url="{% url "git_merge" "backend" %}">commit them</a>.</span>
            <span id="backendConflicts" style="display: none" class="conflicts">You have conflicts. <a href="#" class="discard" data-url="{% url "git_reset" "backend" %}">Discard changes</a> or resolve manually.</span>
            <br>Checkout <span id="backendBranchFinal" style="display: none">[<a href="#" data-repo="backend" data-url="{% url "checkout" "backend" "final" %}" class="nobullet checkout">final</a>]</span>
            <span id="backendBranchMysolution" style="display: none">[<a href="#" data-repo="backend" data-url="{% url "checkout" "backend" "mysolution" %}" class="nobullet checkout">mysolution</a>]</span>.
        </li>
        <li>Worker: current branch is <span id="workerBranch" class="repo">final</span>.
            <span id="workerIsDirty" style="display: none" class="changes">You have local changes. <a href="#" class="discard" data-url="{% url "git_reset" "worker" %}">Discard</a> or <a href="#" class="store" data-url="{% url "git_merge" "worker" %}">commit them</a>.</span>
            <span id="workerConflicts" style="display: none" class="conflicts">You have conflicts. <a href="#" class="discard" data-url="{% url "git_reset" "worker" %}">Discard changes</a> or resolve manually.</span>
            <br>Checkout <span id="workerBranchFinal" style="display: none">[<a href="#" data-repo="worker" data-url="{% url "checkout" "worker" "final" %}" class="nobullet checkout">final</a>]</span>
            <span id="workerBranchMysolution" style="display: none">[<a href="#" data-repo="worker" data-url="{% url "checkout" "worker" "mysolution" %}" class="nobullet checkout">mysolution</a>]</span>.
        </li>
    </ul>
</div>

<div class="widget_links">
    <h4>Course chapters</h4>
    <ul>
        {% for lesson in toc.lessons %}
        <li>
            <a href="{% url "lesson" lesson.lesson %}">{{ lesson.label }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
