{% load filters %}
{% for lesson in toc.lessons %}
    <li>
        {% if lesson.no_link %}
            {{ lesson.label }}
        {% else %}
            <a href="{% url "lesson" lesson.lesson %}" {% if lesson.lesson == current %}class="active"{% endif %}>{{ lesson.label }}</a>
        {% endif %}
        {% if lesson.lessons %}
            <ul>
                {% for sub_lesson in lesson.lessons %}
                    <li>
                        {% if sub_lesson.no_link %}
                            {{ sub_lesson.label }}
                        {% else %}
                            <a href="{% url "lesson" sub_lesson.lesson %}"{% if sub_lesson.lesson == current %}class="active"{% endif %}>{{ sub_lesson.label }}</a>
                        {% endif %}
                        {% if sub_lesson.lessons %}
                            <ul>
                                {% for sub_sub_lesson in sub_lesson.lessons %}
                                    <li>
                                    {% if sub_sub_lesson.no_link %}
                                        {{ sub_sub_lesson.label }}
                                    {% else %}
                                        <a href="{% url "lesson" sub_sub_lesson.lesson %}"{% if sub_sub_lesson.lesson == current %}class="active"{% endif %}>{{ sub_sub_lesson.label }}</a>
                                    {% endif %}
                                    {% if sub_sub_lesson.lessons %}
                                        <ul>
                                            {% for sub_sub_sub_lesson in sub_sub_lesson.lessons %}
                                                <li>
                                                    <a href="{% url "lesson" sub_sub_sub_lesson.lesson %}"{% if sub_sub_sub_lesson.lesson == current %}class="active"{% endif %}>{{ sub_sub_sub_lesson.label }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
