{% extends "codingbrain/base/base.html" %}
{% load filters %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}
    <span>
    {% if parent %}
        <a href="{% url "lesson" parent %}">{{ parent_label }}</a>
    {% else %}
        {{ title }}
    {% endif %}
    </span>
{% endblock %}

{% block content %}
    <h2>{{ label }}</h2>
    {% if repo or lesson_id %}
    <div>
        <div class="lesson-links well well-sm">
            <ul class="iconlist">
                {% if repo %}
                <li><i class="icon-code-fork"></i><a href="#" data-repo="{{ repo }}" data-url="/checkout/{{ repo }}/{{ branch }}" class="checkout"><div>Checkout {{ branch }}</div></a>
                </li>
                 {% endif %}
                {% if lesson_id %}
                <li><i class="icon-line-video"></i> <a class="" target="_blank" href="{{ class_url }}">Go to class</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
    {{ content | safe }}

    {% if lesson_toc %}
        <div class="toc">
            <h3>Lessons in this chapter</h3>
            <ul>
                {% for lesson in lesson_toc.lessons %}
                    <li>
                        {% if not lesson.no_link %}
                            <a href="{% url "lesson" lesson.lesson %}">{{ lesson.label }}</a>
                        {% endif %}
                        {% if lesson.lessons %}
                            <ul>
                                {% for sub_lesson in lesson.lessons %}
                                    <li>
                                        {% if not sub_lesson.no_link %}
                                            <a href="{% url "lesson" sub_lesson.lesson %}">{{ sub_lesson.label }}</a>
                                        {% endif %}
                                        {% if sub_lesson.lessons %}
                                            <ul>
                                                {% for sub_sub_lesson in sub_lesson.lessons %}
                                                    <li>
                                                        <a href="{% url "lesson" sub_sub_lesson.lesson %}">{{ sub_sub_lesson.label }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    {% if pre or next %}
        <ul class="pager">
        {% if pre %}
            {% if parent != pre %}
                <li class="previous">
                    <a href="{% url "lesson" pre %}">← {{ pre_label }}</a>
                </li>
            {% endif %}
        {% endif %}

        {% if parent %}
            <li class="center">
                <a href="{% url "lesson" parent %}">↑ {{ parent_label }}</a>
            </li>
        {% endif %}

        {% if next %}
                <li class="next">
                    <a href="{% url "lesson" next %}">{{ next_label }} →</a>
                </li>
        {% endif %}
        </ul>
    {% endif %}
{% endblock %}