{% extends "codingbrain/base/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}
    <span>{{ title }}</span>
{% endblock %}

{% block content %}
    <h2>Table of contents</h2>
    <div class="toc">
        <ul>
            {% include "codingbrain/base/toc.html" %}
        </ul>
    </div>
{% endblock %}